################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin-int
/bin
/.vs
*.user
/vendors/*
/logger
/OpenGLTest/imgui.ini

